<h2><%= @room.title %></h2>

<%= render partial: "message", collection: @room.messages %>

<%= simple_form_for [@room, Message.new] do |f| %>
	<%= f.input :body, label: false %>
	<%= f.button :submit, "Add message" %>
<% end %>