<h2><%= @room.title %></h2>


<div id="messages" class="messages-<%= @room.id %>">
<%= render partial: "message", collection: @room.messages %>
</div>

<%= simple_form_for [@room, Message.new], remote: true do |f| %>
	<%= f.input :body, label: false %>
	<%= f.button :submit, "Add message" %>
<% end %>