<!DOCTYPE html>
<html>
<head>
  <title>Banter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header>
		<% if session[:provider] %>

			<%= image_tag session[:photo_url] %>
			<%= session[:name] %>
		<% else %>

			<%= link_to "Log in with Facebook", "/auth/facebook" %>


		<% end %>

	</header>	

<%= yield %>

</body>
</html>
